.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.draw {
  color: #1e0446;
}

.winner.x {
  color: #ff6347; /* Red X */
}

.winner.o {
  color: #1e90ff; /* Blue O */
}

.invalid_move {
  color: #ff0055;
}

.draw {
  color: #8f7aa3;
}

.choice {
  margin-top: 14%;
  margin-bottom: 14%;
  text-align: center; 
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
}

.bpvp {
  background-color: #ff6347;
}

.bpvc {
  background-color: #1e90ff;
}

.bpvp:hover {
  background-color: #ff7963;
}

.bpvc:hover {
  background-color: #32a5ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
